<div class="container-fluid">

  <div class="col-xs-6 col-sm-4">
    <div class="bs-gallery">
    <div class="thumbnail">
      <a ng-href="#!original">
        <img src="pics/original.png" alt="Original Graph">
        <div class="caption">
          <p>Original Graph</p>
        </div>
      </a>
    </div>
    </div>
  </div>

  <div class="col-xs-6 col-sm-4">
    <div class="bs-gallery">
    <div class="thumbnail">
      <a ng-href="#!AIT">
        <img src="pics/ai.png" alt="Artificial Intelligence (AIT)">
        <div class="caption">
          <p>Artificial Intelligence (AIT)</p>
        </div>
      </a>
    </div>
    </div>
  </div>

  <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4">
    <div class="bs-gallery">
    <div class="thumbnail">
      <a ng-href="#!DBA">
        <img src="pics/DBs.png" alt="Database Systems and Data Analytics (DBA)">
        <div class="caption">
          <p>Database Systems and Data Analytics (DBA)</p>
        </div>
      </a>
    </div>
    </div>
  </div>

  <div class="clearfix hidden-xs"></div>

  <div class="col-xs-6 col-sm-4">
    <div class="bs-gallery">
    <div class="thumbnail">
      <a ng-href="#!SWS">
        <img src="pics/engineering.png" alt="Software Engineering (SWS)">
        <div class="caption">
          <p>Software Engineering (SWS)</p>
        </div>
      </a>
    </div>
    </div>
  </div>

  <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4">
    <div class="bs-gallery">
    <div class="thumbnail">
      <a ng-href="#!CGG">
        <img src="pics/graphics.png" alt="Computer Graphics and Game Design (CGG)">
        <div class="caption">
          <p>Computer Graphics and Game Design (CGG)</p>
        </div>
      </a>
    </div>
    </div>
  </div>

  <div class="col-xs-6 col-sm-4">
    <div class="bs-gallery">
    <div class="thumbnail">
      <a ng-href="#!ICA">
        <img src="pics/ica.png" alt="Information and Computation Assurance (ICA)">
        <div class="caption">
          <p>Information and Computation Assurance (ICA)</p>
        </div>
      </a>
    </div>
    </div>
  </div>

  <div class="clearfix hidden-xs"></div>
  <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4">
    <div class="bs-gallery">
    <div class="thumbnail">
      <a ng-href="#!CNT">
        <img src="pics/network.png" alt="Computer Networking (CNT)">
        <div class="caption">
          <p>Computer Networking (CNT)</p>
        </div>
      </a>
    </div>
    </div>
  </div>

  <div class="col-xs-6 col-sm-4">
    <div class="bs-gallery">
    <div class="thumbnail">
      <a ng-href="#!CSY">
        <img src="pics/systems.png" alt="Computer Systems (CSY)">
        <div class="caption">
          <p>Computer Systems (CSY)</p>
        </div>
      </a>
    </div>
    </div>
  </div>

</div>